body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, aqua, red);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    color: white;
}
footer {
    font-size: 20px;
    color : black;
}

.subtitle {
    margin-top: -10px;
}

.grid-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.price {
    color: green;
    font-weight: bold;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 50px;
}

.popup img {
    max-width: 500px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px; right: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.popup button {
    background: yellow;
    color: black;
    padding: 12px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background: orange;
}

.popup-copyright {
    color : white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
}